# Ignore the directory containing the installation scripts 
install/

# Ignore Docker-related files
.dockerignore

# Ignore git history and other development artifacts
.git/
.github/
.gitignore

# Ignore the documentation
docs/

# Ignore files not related to the installation
LICENSE
README.md
tutorials/
